[Unit]
Description=Daily Focus Queue task sync timer
Requires=my-practice-sync-focus-queue.service

[Timer]
OnCalendar=daily
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target
